/* height 100% needed to stop page expanding*/
#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
}
header {
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    color: #696969;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
}
#home-wrapper {
    margin: 0 5px 0 10px;
    transition-duration: 0.4s;
}
#home-wrapper:hover {
    opacity:0.6; 
}
h1 {
    margin: 2px 5px;
    font-size: 25pt;
    font-weight: bold;
}
.container {
    flex-basis: 90%;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}
form {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10pt;
    display: flex;
    padding-left: 50px;
    color: black;
}
.upload-label {
    display: inline-block;
    border: 1px solid #63a3d1;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items:center;
    transition-duration: 0.4s;
    background-color:#087acc;
    color: white;
    padding: 7px;
    font-size: 10pt;
}
.upload-label:hover{
    opacity:0.6; 
}
.label-left i {
    font-size: 15pt;
}
.label-right {
    padding-left: 10px;
}
input[type="file"] {
    display: none;
}
.form-group {
    margin:15px 0 0 30px;
}
.form-group > label{
    margin-right:10px;
}
button {
    font-size: 11pt;
    background-color:#087acc;
    color:#fff;
    border-radius:3px;
    padding: 5px;
    height: 2rem;
    width: 4rem;
    border: none;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    opacity:0.6; 
}
.button-loading {
    opacity:0.6; 
}
#editor {
    flex-basis: 55%;
    margin-right: 10px;
    overflow: hidden;
}
#results {
    margin-left: 10px;
    flex-basis: 45%;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.status {
    color: #696969;
    margin-bottom: 10px;
    font-weight: bold;
}
.results-status {
    margin-right: 10px;
    height: 20px;
    vertical-align:text-top;
}
#dtd {
    margin-bottom: 20px;
}
#schematron {
    margin-top: 20px;
}
/* parents must have overflow hidden for this to work */
.table-scroll {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll; 
}
/* always show scrollbar*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
th {
    text-align:center;
    font-size: 10pt;
    cursor: pointer;
    border-bottom: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    background-color: #f3f3f3;
    border-radius:4px;
}
th img {
    height: 20px;
}
td {
    padding:7px;
    text-align:left;
    font-size: 9pt;
    border-radius:4px;
    border-right: solid 1px #dbdbdb;
    border-bottom: solid 1px #dbdbdb;
}
.align-middle {
    text-align: center;
}
input[type="checkbox"] {
    cursor: default !important;
}
.info .align-middle {
    border-left: 3px solid rgb(58, 136, 238);
}
.warning .align-middle {
    border-left: 3px solid rgb(238, 175, 58);
}
.error .align-middle {
    border-left: 3px solid rgb(238, 58, 58);
}
.odd {
    background-color:rgb(244, 251, 253);
}
.completed *{
    color:#ccc7c7be !important;
    cursor: text !important;
    text-decoration: line-through !important;
}
.message {
    cursor: pointer;
    word-break: break-word;
}
.mark {
    animation: highlight 2000ms ease-out;
}
@keyframes highlight {
    0% {
        background-color:rgb(252, 250, 135);
    }
    100% {
      background-color: white;
    }
}
.CodeMirror-linenumbers {
    border-right: solid 1px rgb(185, 185, 185);
    padding-right: 2px;
}
.breakpoints {
    width: 1.5em;
}
.breakpoint img{
    padding-top: 1.7px;
    width: 0.9em;
    padding-left: 4px;
}
.breakpoint div{
    width: 400px;
    position: relative;
    bottom: 10px;
    left: 14px;
    visibility: hidden;
}
.breakpoint:hover div{
    visibility: visible;
    background-color: rgb(244, 251, 253);
    border-radius: 8px;
    border: solid 1px black;
    font-size: 9pt;
    font-family: 'Noto Sans', sans-serif;
}
.breakpoint div p{
    padding-left: 5px;
    padding-right: 5px;
}